/* Reset-css */
body,
h1,
p {
  margin: 0;
}
/* Colors */
:root {
  --background-color: midnightblue;
  --normal-color: dodgerblue;
  --primary-color: lightgreen;
  --secondary-color: salmon;
}

/* Typography-css*/
:root {
  font-size: 62.5%; /* 16px의 62.5% = 10px */
}
body {
  font-size: 1.4rem; /* 14px */
}
h1 {
  font-size: inherit;
  font-weight: inherit;
}
.header-title {
  font-size: 8rem;
}
.header-meta {
  font-size: 2rem;
}

/* Layouts-css */
.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Components-css */
body {
  background-color: var(--background-color);
  color: var(--normal-color);
}

.header {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
.header-title {
  color: var(--secondary-color);
  font-family: "Sansita Swashed", cursive;
  line-height: 1;
}
.header-title strong {
  color: var(--primary-color);
  display: block;
}
.header-meta {
  display: flex;
  align-items: center;
}
.header-meta::before {
  content: " ";
  background-color: currentColor;
  margin: 0 2em;
  width: 2em;
  height: 2px;
}
