/* Reset-css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/* Colors */
:root {
  --background-color: midnightblue;
  --normal-color: dodgerblue;
  --primary-color: lightgreen;
  --secondary-color: salmon;
}

/* Typography-css*/
:root {
  font-size: 62.5%; /* 16pxì˜ 62.5% = 10px */
}
body {
  font-size: 1.4rem; /* 14px */
}
/* Style */
body {
  background-color: var(--background-color);
  color: white;
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  /* background-color: var(--normal-color); */
  margin: 0 auto;
  width: 30rem;
}

.wrap h1 {
  text-align: center;
}
.wrap .title {
  color: var(--primary-color);
  padding-bottom: 1rem;
}
.wrap .title > span {
  color: var(--secondary-color);
}

.search-box {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  margin-bottom: 1rem;
}
form input {
  color: var(--primary-color);
  text-align: center;
  font-size: 1.6rem;
  padding: 0.3rem;
  border: none;
  width: 85%;
  background-color: transparent;
}
form input:focus {
  outline: none;
}
.search-box button {
  border: none;
  width: 13%;
  height: 100%;
  line-height: 100%;
  background-color: transparent;
}
form button i {
  font-size: 1.6rem;
  margin-left: 0.5rem;
  color: var(--secondary-color);
}
p span {
  display: inline-block;
  /* border: 1px solid #999; */
  padding: 0.3rem;
  margin: 0.3rem;
  /* background-color: #999; */
}
